.mini-toastr {
  top: 20px !important;
  right: 20px !important;

  &__notification {
    opacity: 1 !important;
  }
}

.mini-toastr__notification.-error {
  background: $danger !important;
}

.mini-toastr__notification.-success{
  background: $success !important;
}
